@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.box_shadow_t{
  border-top:solid 0.5px rgba(189, 180, 180, 0.15); 
  
}

.box_shadow_b{
  box-shadow: 0 -1px 4px rgba(255, 255, 255, 1);
}

.text-gradient_blue {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
  text-fill-color: transparent;
}

.text-gradient_gold {

   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
   font-family: 'Times New Roman',serif;
   letter-spacing: 5px;
   font-size: 150px;
   font-weight: bold;
   background-image: linear-gradient(
	to right,
	#ce8e2f 0,
       	#cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#9e6714 100%
	);
   color:transparent;
   -webkit-background-clip:text;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-gold-gradient {
  background: linear-gradient(
    157.81deg,
    #dbdaca -43.27%,
    #d3cf9f -21.24%,
    #beb96b 12.19%,
    #c0b84e 29.82%,
    #ccc12b 51.94%,
    #b4a90c 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}
.bg-white-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #c5c3c3 -78.47%,
    #888888 91.61%
  );
}



.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgb(109, 106, 106) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  border-radius: 100%;
  box-shadow: 0px 20px 100px -10px rgba(194, 197, 207, 0.3);
}


.sidebar {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.button_style{
  position: relative;
  padding: 10px 30px;
  margin: 0 15px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  overflow: hidden;
  transition: 0.5s;
}
.button_style:hover{
  background: #21ebff;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 30px #21ebff;
}

.button_style::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: 0.5s;
}

.button_style::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: 0.5s;
}

.button_style:hover::before{
  width: 100%;
  height: 100%;
}
.button_style:hover::after{
  width: 100%;
  height: 100%;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue2__gradient {
  background: linear-gradient(180deg, rgba(95, 221, 243, 0) 0%, #3273af 100%);
  opacity: 0.5;
  filter: blur(300px);
}


.green__gradient {
  background: linear-gradient(90deg, #0ec226 0%, #035517 100%);
  filter: blur(400px);
  opacity: 0.5;
}
.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}



.box_shadow{
  box-shadow: 0px 10px 30px rgba(203, 206, 205, 0.2);
}

.fixed_position{
  position: fixed;
  z-index: 9;
  top: 0;
}

.career_data{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.career_rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #2fbfc4;
  border-radius: 50%;
 
  
}

.career_line{
  display: block;
  width: 1px;
  height: 105.2%;
  background-color: white;
  transform: translate(6px,-7px);
 
}

.gray_text{
  color: rgba(255, 255, 255, 0.55);
}

.contact_box{
  display: grid;
  grid-template-columns: 45% 45%;
}

textarea {
  font-family: "Poppins", sans-serif;
}

.contact_input{
  padding: 0.6rem 1.5rem;
  margin: 0.6rem 0.4rem;
  border: none;
  outline: none;
  background: #cfcdcd;
  border-radius: 2rem;
  font-weight: 600;
}

.contact_textArea{
  padding: 0.6rem 1.5rem;
  margin: 0.6rem 0.7rem;
  border: none;
  outline: none;
  background: #cfcdcd;
  border-radius: 2rem;
  font-weight: 600;
  font-size: 1rem;

}

.project {
  padding: 80px 0;
  position: relative;
  background-color: black;
}
.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}
.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav .nav-pills .nav-item {
  width: 33.33333%;
  
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
 
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

.home_img{
  background-repeat: no-repeat;
  background-position: center;
  order: 1;
  width: 230px;
  background-size: cover;;
  justify-self: center;
  height: 220px;
  animation: profile_image 5s ease-in-out infinite 0.5s;
  box-shadow: inset 0 0 0 9px rgb(255,255,255/30%);
}



.work_container{
  grid-template-columns: repeat(3,max-content);
  gap: 3rem;
  justify-content: center ;
}

.work_img{
  border-radius: 1rem;
  margin-bottom: 10px;
}

.work_card{
  background: #00040f;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1.25rem;
  border-radius: 1rem;
  margin: auto;
}

.work_button{
  font-size: 14px;
  color: #9b9faa;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  margin-top: 5px;
}

.work_button_icon{
  transition: 0.4s;
}

.work_button_icon:hover{
  transform: translateX(0.35rem);
  
}

.work_filters{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: 20px;
  
}

.work_item{
  color: #ffffff;
  cursor: pointer;
  padding: 0.25rem 0.75rem;  
  font-weight:600;
  text-transform: capitalize;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.work_item:hover{
  background-color: white;
  color: black;

}


.submit_contact_btn{
   width: 150px;  
   height: 40px;  
   bottom: -8%;  
   background: linear-gradient(to right, #0b4e9b, #09bbe7);  
   color: white;  
   border: none;  
   border-radius: 20px;
   cursor: pointer;  
   font-size: 1.3em;  
   box-shadow: 2px 10px 50px #192ac58e,2px 0px 10px #07d4db98 ;  
   justify-content: center;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;

}

.submit_contact_btn:hover{
  opacity: 0.8;
}

.clock_heading {
    color: #16cc86;
    font-size: 0.8em;
    font-weight: 500;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 7px;
    text-align: right; 
    position: absolute;
    right: 0;
    
}








